#aboutme {
    color: rgba(30, 30, 30, 1);
    position: absolute;
   
}


#smallsquare7{
    display: none;
    background-color: rgb(142, 172, 201);
    border: 1px solid rgb(186, 186, 233);
    width: 15px;
    height: 15px;
    position: absolute;
   
   }
   #smallsquare8{
    background-color: rgb(97, 159, 218);
    border: 1px solid rgb(186, 186, 233);
    width: 10px;
    height: 10px;
    position: absolute;
  
   }
   #smallsquare9{
    background-color: rgb(50, 88, 124);
    border: 1px solid rgb(186, 186, 233);
    width: 15px;
    height: 15px;
    position: absolute;
   
   }
   #smallsquare10{
    background-color: rgb(127, 174, 218);
    border: 1px solid rgb(186, 186, 233);
    width: 10px;
    height: 10px;
    position: absolute;
   
   }

   #smallsquare11{
    background-color: rgb(142, 172, 201);
    border: 1px solid rgb(186, 186, 233);
    width: 10px;
    height: 10px;
    position: absolute;
   
   }
   #smallsquare12{
    background-color: rgb(142, 172, 201);
    border: 1px solid rgb(186, 186, 233);
    width: 10px;
    height: 10px;
    position: absolute;
   
   }
   
   
   #abtme{
   
    position: absolute;
    text-align: left;
    line-height: 20px;
    height: 200px;
    
   }
   #abtme2{
   
    position: absolute;
    text-align: left;
   
    
    
   }

   #rectanglebg{
    display: none;
    background-color: rgb(187, 213, 226, 0.5);
    width:1280px;
    height:800px;

   }



@media (max-width:475px){

    #aboutme {
      
        top:550px;

    }

    #smallsquare7{
        display: block;
        top:600px;
        left:50px;
    }
    #smallsquare8{
        display: block;
        top:550px;
        left:80px;
    }

    #smallsquare9{
        display: block;
        top:580px;
        left:200px;
    }
    #smallsquare10{
        display: block;
        top:600px;
        left:150px;
    }
    #smallsquare11{
        display: block;
        top:550px;
        left:180px;
    }

    #smallsquare12{
        display: block;
        top:600px;
        left:250px;
    }

    #abtme{
        background-color:rgb(166, 199, 240, 0.5) ;
        top: 650px;
        left:1px;
        width: 400px;
        line-height: 20px;
        height: 230px;

    }
    #abtme2{
        top:780px;
        left:1px;
        width:400px;
        line-height: 20px;

    }



    #hobbies {
        
        position: absolute;
        background-color: rgba(107, 144, 165, 0.5);
        border: 2px solid rgb(13, 13, 34);
        border-radius: 30%;
        top:1000px;
        width:100px;
        height:100px;
    }
    #hobby{
        position: absolute;
        top:1000px;
    }
    #line{
        position: absolute;
        top:600px;
    }

}

@media (min-width: 800px){
    #rectanglebg{
        display: flex;
        position: absolute;
        top:600px;
        
        
    }

    #aboutme {
      
        top:550px;

    }

    
    #smallsquare7{
        display: block;
        top:600px;
        left:50px;
    }
    #smallsquare8{
        display: block;
        top:550px;
        left:80px;
    }

    #smallsquare9{
        display: block;
        top:580px;
        left:200px;
    }
    #smallsquare10{
        display: block;
        top:600px;
        left:150px;
    }
    #smallsquare11{
        display: block;
        top:550px;
        left:180px;
    }

    #smallsquare12{
        display: block;
        top:600px;
        left:250px;
    }

    #abtme{
        top: 700px;
        left:500px;
        width: 600px;
        line-height: 20px;
        height: 230px;
        font-size: 18px;

    }
    #abtme2{
        top:830px;
        left:500px;
        width:600px;
        line-height: 20px;
        font-size: 18px;

    }
    #hobby{
        position: absolute;
        top:1200px;
    }

    #rectanglebg1{
        background-color: rgb(89, 100, 128, 0.5);
        position: absolute;
        width: 300px;
        height: 300px;
        top: 700px;
        left:100px;
    }



}