
.container{
    display: flex;
    border: 1px solid black;
    position: absolute;
    top:16px;
    left:16px;
    right: 16px;
    width: 16px;
    justify-content: center;
    align-items: center;
    height: 16px;
    margin: 0 auto;
    padding: 0;

}

.ty_container{
    display: flex;
    border: 1px solid black;
    position: absolute;
    top:16px;
    left:16px;
    right: 16px;
    width: 16px;
    justify-content: center;
    align-items: center;
    height: 16px;
    margin: 0 auto;
    padding: 0;

}

.ty_cont{
    display: flex;
    
    position: absolute;
    top:16px;
    left:16px;
    right: 16px;
    width: 16px;
    border: 1.90px solid rgb(51, 50, 48);
    justify-content: center;
    align-items: center;
    height: 16px;
    margin: 0 auto;
    padding: 0;
   
    

}

.rectangles{
    display:flex;
    position: absolute;
    top:16px;
    left:16px;
    right: 16px;
    width: 16px;
    
    height: 16px;
    margin: 0 auto;

    padding: 0;
    border: 1px solid black;
}

.bttns{
    display:flex;
    position: absolute;
    top:16px;
    left:16px;
    right: 16px;
    width: 16px;
    
    height: 16px;
    margin: 0 auto;

    padding: 0;
    border: 1px solid black;
}







.rectangledes{
    background-color: rgb(148, 195, 225, 1);
    background-image: linear-gradient(to right,blue,rgb(104, 142, 231), rgb(204, 213, 244));
    border-top: 1px solid rgb(110, 153, 244);
    border-left: 1px solid rgb(110, 153, 244) ;
    border-right: 1px solid rgb(110, 153, 244) ;
    display: flex;
    position:relative;
    width:16px;
    height: 16px;
    box-shadow: 6px 6px 10px rgba(20, 7, 37, 0.4);
}


.rectangledes1{
    background-color: rgba(122, 186, 225, 1);
    background-image: linear-gradient(to right,rgb(202, 226, 238), rgb(66, 130, 221));
    border-left: 1px solid rgb(110, 153, 244) ;
    border-right: 1px solid rgb(110, 153, 244) ;
    display: flex;
    position: absolute;
    width:16px;
    height: 16px;
    box-shadow: 6px 6px 10px rgba(20, 7, 37, 0.4);
}
.rectangledes2{
    background-color: rgb(148, 195, 225, 1);
    background-image: linear-gradient(to right,rgb(139, 196, 226), rgb(66, 130, 221), rgb(123, 123, 209));
    border-left: 1px solid rgb(110, 153, 244) ;
    border-right: 1px solid rgb(110, 153, 244) ;
    display: flex;
    position:absolute;
    width:16px;
    height: 16px;
    box-shadow: 6px 6px 10px rgba(20, 7, 37, 0.4);
}

.rectangledes3{
    background-color: rgb(100, 175, 222);
     background-image: linear-gradient(to right,rgb(207, 221, 228), rgb(66, 130, 221), rgb(173, 173, 213));
     border-left: 1px solid rgb(110, 153, 244) ;
     border-right: 1px solid rgb(110, 153, 244) ;
    display: flex;
    position: absolute;
    width:16px;
    height: 16px;
    box-shadow: 6px 6px 10px rgba(20, 7, 37, 0.4);
}

.rectangledes4{
    background-color: rgba(46, 164, 237, 1);
    background-image: linear-gradient(to right,rgb(26, 16, 107), rgb(67, 83, 205), rgb(173, 173, 213));
    border: 1px solid rgb(81, 121, 214);
    display: flex;
    position: absolute;
    width:16px;
    height: 16px;
    box-shadow: 15px 16px 20px rgba(20, 7, 37, 0.4);
}

#hi{
    position:absolute;
    font-size: 16px;
    color: rgb(60, 44, 89);
    width: 16px;
    top:16px;
    left:16px;
    font-weight: 600;
    font-style: oblique;
    text-shadow: 6px 6px 6px  rgba(141, 105, 42, 0.5);
}

h3{
    position:absolute;
    font-size: 16px;
    color: rgb(54, 43, 138);
    width: 16px;
    top:16px;
    left:16px;
    transition: color 0.3s ;
    text-shadow: 6px 6px 6px  rgba(141, 105, 42, 0.5);
}

h3:hover{
    font-size: 16px;
}

#intro{
    font-size: 16px;
    position: absolute;
    width: 16px;
    color: rgb(55, 48, 48);
    font-weight: bold;
    text-shadow: 6px 6px 6px  rgba(141, 105, 42, 0.5);
    
}

.bttns {
    position: relative; /* Ensure that the buttons are positioned relative to their container */
    display: flex;
    gap: 10px; 
    display: flex;
    justify-content: center; 
    align-items: center;
}

.bttn, .bttn2, .bttn3, .bttn4, .bttn5 {
    background-color: rgba(106, 140, 208, 0.5);
    background-image: linear-gradient(rgb(55, 116, 181), rgb(101, 165, 217), rgb(159, 199, 232));
    color: rgb(35, 32, 32);
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px; 
    border-radius: 30px;
    box-shadow: 6px 6px 10px rgba(20, 7, 37, 0.4);
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    display: flex; 
   
    border: 1px solid rgb(209, 209, 245);
}

.bttn:hover, .bttn2:hover, .bttn3:hover, .bttn4:hover, .bttn5:hover {
    background-color: rgb(20, 91, 89);
    background-image: linear-gradient(rgb(230, 184, 120), rgb(228, 187, 112), rgb(238, 203, 154));
    color: rgb(25, 15, 90);
}



.bttn2:hover {
    background-color: rgb(20, 91, 89);
    background-image: linear-gradient(rgb(230, 184, 120), rgb(238, 203, 154));
    color: rgb(25, 15, 90);
}


#pic1{
    display: flex;
    position: absolute;
    width: 16px;
    height: 16px;
    top:16px;
    left:16px;
   
}




#ty{
    position: absolute;
    display: flex;
    font-size: 16px;
    font-weight:bolder;
    width: 16px;
    height: 16px;
    top:16px;
    justify-content: center;
    color: rgb(15, 83, 177);
    text-decoration: underline;
    text-shadow: 10px 10px 10px  rgba(141, 105, 42, 0.5);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#ty2{
    position: absolute;
    display: flex;
    font-size: 16px;
    font-weight: bolder;
    width: 16px;
    height: 16px;
    top:16px;
    justify-content: center;
    color: rgb(43, 125, 201);
    text-decoration: underline;
    text-shadow: 10px 10px 10px  rgba(141, 105, 42, 0.5);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}


#bye{
    position: absolute;
    display: flex;
    font-size: 16px;
    width: 16px;
    top:16px;
    margin-left:16px;
    justify-content: center;
    color: rgb(28, 25, 25);
    text-shadow: 5px 5px 7px rgb(166, 136, 81);
}

#bttns_end {
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 1rem; 
    height: 20rem;
}

#bttns_end a {
    
    font-size: 2rem;
    color: rgb(13, 96, 175);
    text-shadow: 1px 1px 2px black;
    display: flex;
    align-items: center;
    text-decoration: none;
}

#fb i, #ig i, #git i {
    
    font-size: 3rem; /* Adjust icon size */
    color: rgb(58, 79, 148);
}

#ig i{
    color: rgb(216, 42, 129);

}
#git i{
    color:black;
}
    

#fb span, #ig span, #git span {
    font-size: 1.7rem;
    color: rgb(3, 23, 42);
    margin-left: 60px;
    margin-top: 1rem;
}

#fb, #ig, #git{
    position: absolute;
    top:16px;
}

.bttns i{
    position: absolute;
    font-size: 2.2rem;
    color: rgb(4, 9, 33);
    text-shadow: 1px 1px 2px black;
    display: flex;
    align-items: center;
    text-decoration: none;
   
    left:10px;
    top:8px;
}






 



@media only screen and (max-width: 600px){
    .container{
        width: 17rem;
        height: 35rem;
        top:5rem;
        left:0.20rem;
        border: none;
       
    }

    #pic1{
        width: 12.25rem;
        height: 12.75rem;
        top:2.25rem;
        left:2.25rem;
    }
    .rectangles{
        display: flex;
        width: 18rem;
        height: 17rem;
        top:1.30rem;
        left:1rem;
        border: none;
       
    }
    .rectangledes{
        width: 11.25rem;
        height: 2.65rem;
        top:2rem;
        left: 2rem;
        transition:1s ease-in-out;

    }

    .rectangledes:hover{
        left: 1rem;
    }

    .rectangledes1{
        width: 11.25rem;
        height: 2.65rem;
        top:4.63rem;
        left: 6rem;
        transition:1s ease-in;
    }

    .rectangledes1:hover{
        left:10rem
    }
    .rectangledes2{
        width: 12.25rem;
        height: 2.65rem;
        top:7.1rem;
        left: 1rem;
        transition:1s ease-in-out;
}
    .rectangledes2:hover{
        left:-1rem
    }
    .rectangledes3{
        width: 12.25rem;
        height: 2.65rem;
        top:9.73rem;
        left: 4rem;
        transition:1s ease-in-out;
    }

    .rectangledes3:hover{
        left:8rem;
    }
    .rectangledes4{
        width: 12.55rem;
        height: 2.65rem;
        top:12.3rem;
        left: 2.3rem;
        transition:1s ease-in-out;

    }

    .rectangledes4:hover{
        left: -2rem;
    }

    #hi{
        font-size: 2rem;
        top: 17.7rem;
        left:7rem;
        width: 8rem;
    }
    h3{
        font-size: 3.50rem;
        top: 20rem;
        left:3rem;
        width: 3rem;
        transition: 2s ease;
    }
   
    
    #intro{
        font-size: 1.75rem;
        top:25.50rem;
        left:1.25rem;
        width: 18rem;
    }
    .bttns{
        display: flex;
        width: 17rem;
        height: 14rem;
        top:15rem;
        left:0.4rem;
       border: none;
      
    }
    
    

    .bttn{
        font-size: 1.2rem;
        width:10rem ;
        height: 3.5rem;
       
        

    }
    .bttn:active{
        top: 30.75rem;
        left:1.1rem;
    }
    
    .bttn2 .bttn3 .bttn4{
        font-size: 1.2rem;
        width:3rem ;
        height: 3rem;
       
        

    }
    .bttn2:active{
        top: 30.75rem;
        left:11.75rem;
    }

        
    .bttn3:active{
        top: 30.75rem;
        left:11.75rem;
    }
    
    .bttn4:active{
        top: 30.75rem;
        left:11.75rem;
    }

    .bttns i{
        left:0.9rem;

    }
   

    .ty_container{
        top:275rem;
        left:0.74rem;
        width: 22rem;
        height: 50rem;
        border: none;
    }

    .ty_cont{
        top:3rem;
        width: 21rem;
        height: 40rem;
        left:0.5rem;
        border: none;
    }

    #ty{
        font-size: 3rem;
        width: 20px;
        left:6.87rem;
        top:3rem;

    }
    #ty2{
        font-size: 3rem;
        width: 20px;
        top:7rem;
        left:12rem;

    }

    #bye{
        font-size: 1.55rem;
        top:13rem;
        margin-left:0.1rem;
        width: 20rem;
    }

    #bttns_end{
        top:1rem;
        border: none;
    }

    #fb{
        top:13rem;
        left: 1rem;
    }

    #ig{
        top:18rem;
        left:1rem;
    }

    #git{
        top:22rem;
        left:1rem;
    }

   
    
    
    
        
}


@media only screen and (min-width: 600px) and (max-width:900px){
    .container{
        width: 20rem;
        height: 45rem;
        top:3rem;
        left:0.20rem;
        border: none;
       
    }

    #pic1{
        width: 12.25rem;
        height: 12.75rem;
        top:2.25rem;
        left:2.25rem;
    }
    .rectangles{
        display: flex;
        width: 18rem;
        height: 17rem;
        top:1.30rem;
        left:1rem;
        border: none;
       
    }
    .rectangledes{
        width: 11.25rem;
        height: 2.65rem;
        top:2rem;
        left: 2rem;
        transition:1s ease-in-out;

    }

    .rectangledes:hover{
        left: 1rem;
    }

    .rectangledes1{
        width: 11.25rem;
        height: 2.65rem;
        top:4.63rem;
        left: 6rem;
        transition:1s ease-in;
    }

    .rectangledes1:hover{
        left:10rem
    }
    .rectangledes2{
        width: 12.25rem;
        height: 2.65rem;
        top:7.1rem;
        left: 1rem;
        transition:1s ease-in-out;
}
    .rectangledes2:hover{
        left:-1rem
    }
    .rectangledes3{
        width: 12.25rem;
        height: 2.65rem;
        top:9.73rem;
        left: 4rem;
        transition:1s ease-in-out;
    }

    .rectangledes3:hover{
        left:8rem;
    }
    .rectangledes4{
        width: 12.55rem;
        height: 2.65rem;
        top:12.3rem;
        left: 2.3rem;
        transition:1s ease-in-out;

    }

    .rectangledes4:hover{
        left: -2rem;
    }

    #hi{
        font-size: 2.50rem;
        top: 19.7rem;
        left:6.5rem;
        width: 8rem;
    }
    h3{
        font-size: 4rem;
        top: 23rem;
        left:2.40rem;
        width: 3rem;
        transition: 2s ease;
    }
   
    
    #intro{
        font-size: 2.3rem;
        top:28.50rem;
        left:-1rem;
        width: 24rem;
    }
    .bttns{
        display: flex;
        width: 17rem;
        height: 14rem;
        top:16rem;
        left:0.02rem;
       border: none;
       
    }
   
    

    .bttn{
        font-size: 1.75rem;
        width:18rem ;
        height: 4.2rem;
        top:2rem;
        left:0.4rem;

    }
    .bttn:active{
        top: 30.75rem;
        left:1.1rem;
    }
    
    .bttn2{
        font-size: 1.2rem;
        width:2.5rem ;
        height: 2.5rem;
        top:10.35rem;
        left:1rem;
        

    }
   
    .bttn2:active{
        top: 30.75rem;
        left:11.75rem;
    }

    .bttn3{
        font-size: 1.2rem;
        width:2.5rem ;
        height: 2.5rem;
        top:10.35rem;
        left:7.3rem;
        
        

    }
    .bttn3:active{
        top: 30.75rem;
        left:11.75rem;
    }
    .bttn4{
        font-size: 0.90rem;
        width:2.5rem ;
        height: 2.45rem;
        top:10.35rem;
        left:13.50rem;
        

    }
    .bttn4:active{
        top: 30.75rem;
        left:11.75rem;
    }

    .bttns a{
        left:1.1rem;
        top:1rem;

    }
   

    .ty_container{
        top:300rem;
        left:0.74rem;
        width: 22rem;
        height: 50rem;
        border: none;
    }

    .ty_cont{
        top:3rem;
        width: 21rem;
        height: 40rem;
        left:0.5rem;
        border: none;
    }

    #ty{
        font-size: 5rem;
        width: 20px;
        left:6.87rem;
        top:-1rem;

    }
    #ty2{
        font-size: 5rem;
        width: 20px;
        top:6rem;
        left:12rem;

    }

    #bye{
        font-size: 2.2rem;
        top:14rem;
        margin-left:0.1rem;
        width: 30rem;
    }

    #bttns_end{
        top:18rem;
        border: none;
    }

    #fb{
        top:9rem;
        left: 1rem;
        width: 25rem;
    }

    #ig{
        top:14rem;
        left:1rem;
    }

    #git{
        top:19rem;
        left:1rem;
    }

   
    
    
    
        
}

@media only screen and (min-width: 900px) and (max-width:1024px){
   
    .container{
        width: 40rem;
        height: 45rem;
        top:-3rem;
        left:-11rem;
        border: none;
       
    }

    #pic1{
        width: 17.25rem;
        height: 20.75rem;
        top:-1.20rem;
        left:2.25rem;
    }
    .rectangles{
        display: flex;
        width: 24rem;
        height: 20rem;
        top:8rem;
        left:30rem;
        border: none;
       
    }
    .rectangledes{
        width: 14.25rem;
        height: 2.95rem;
        top:3.52rem;
        left: 2rem;
        transition:1s ease-in-out;

    }

    .rectangledes:hover{
        left: -3rem;
    }

    .rectangledes1{
        width: 14.25rem;
        height: 2.95rem;
        top:6.52rem;
        left: 6rem;
        transition:1s ease-in;
    }

    .rectangledes1:hover{
        left:10rem;
    }
    .rectangledes2{
        width: 14.25rem;
        height: 2.95rem;
        top:9.5rem;
        left: 1rem;
        transition:1s ease-in-out;
}
    .rectangledes2:hover{
        left:10rem;
    }
    .rectangledes3{
        width: 14.25rem;
        height: 2.95rem;
        top:12.40rem;
        left: 4rem;
        transition:1s ease-in-out;
    }

    .rectangledes3:hover{
        left:8rem;
    }
    .rectangledes4{
        width: 14.25rem;
        height: 2.95rem;
        top:15.3rem;
        left: 2.6rem;
        transition:1s ease-in-out;

    }

    .rectangledes4:hover{
        left: -2rem;
    }

    #hi{
        font-size: 3.2rem;
        top: 11.7rem;
        left:3.40rem;
        width: 16rem;
    }
    h3{
        font-size: 5.80rem;
        top: 16.2rem;
        left:4.53rem;
        width: 3rem;
        transition: 2s ease;
        border:none;
    }
   
    
    #intro{
        font-size: 3rem;
        top:24.50rem;
        left:1.59rem;
        width: 31rem;
        
    }
    .bttns{
        display: flex;
        width: 47rem;
        height: 14rem;
        top:12rem;
        left:0.02rem;
        border:none;
        justify-content: space-evenly;
       
    }
    
    

    .bttn{
        font-size: 1.45rem;
        width:15rem ;
        height: 3.82rem;
        top:2rem;
        left:0.4rem;

    }
    .bttn:active{
        top: 30.75rem;
        left:1.1rem;
    }
    
    .bttn2, .bttn3, .bttn4{
        font-size: 1.5rem;
        width:4rem ;
        height:3rem;
        top:2rem;
        left:30rem;
        border-radius: 15px;

    }
    .bttn2:active{
        top: 30.75rem;
        left:11.75rem;
    }

    .bttn3{
        font-size: xx-large;
        top:2rem;
        left:36rem;
        
        

    }
    .bttn3:active{
        top: 30.75rem;
        left:11.75rem;
    }
    .bttn4{
       
        top:2rem;
        left:42.50rem;
        

    }
    .bttn4:active{
        top: 30.75rem;
        left:11.75rem;
    }

    .bttns i{
        left:1.1rem;
        top:1rem;

    }
   

    .ty_container{
        top:245rem;
        left:0.74rem;
        width: 22rem;
        height: 50rem;
        border: none;
    }

    .ty_cont{
        top:3rem;
        width: 21rem;
        height: 40rem;
        left:0.5rem;
        border: none;
    }

    #ty{
        font-size: 5rem;
        width: 20px;
        left:6.87rem;
        top:-1rem;

    }
    #ty2{
        font-size: 5rem;
        width: 20px;
        top:6rem;
        left:12rem;

    }

    #bye{
        font-size: 2.2rem;
        top:14rem;
        margin-left:6.1rem;
        width: 30rem;
    }

    #bttns_end{
        top:18rem;
        border: none;
        left:5rem;
    }

    #fb{
        top:9rem;
        left: 1rem;
        width: 25rem;
    }

    #ig{
        top:14rem;
        left:1rem;
    }

    #git{
        top:19rem;
        left:1rem;
    }

   
    
    
    
        
}


@media screen and (min-width:1024px) and (max-width:1540px){
    .container{
        width: 40rem;
        height: 45rem;
        top:1rem;
        left:-11rem;
        border: none;
       
    }

    #pic1{
        width: 17.25rem;
        height: 20.75rem;
        top:-1.20rem;
        left:2.25rem;
    }
    .rectangles{
        display: flex;
        width: 24rem;
        height: 20rem;
        top:8rem;
        left:30rem;
        border: none;
       
    }
    .rectangledes{
        width: 14.25rem;
        height: 2.95rem;
        top:3.52rem;
        left: 2rem;
        transition:1s ease-in-out;

    }

    .rectangledes:hover{
        left: -3rem;
    }

    .rectangledes1{
        width: 14.25rem;
        height: 2.95rem;
        top:6.52rem;
        left: 6rem;
        transition:1s ease-in;
    }

    .rectangledes1:hover{
        left:10rem;
    }
    .rectangledes2{
        width: 14.25rem;
        height: 2.95rem;
        top:9.5rem;
        left: 1rem;
        transition:1s ease-in-out;
}
    .rectangledes2:hover{
        left:10rem;
    }
    .rectangledes3{
        width: 14.25rem;
        height: 2.95rem;
        top:12.40rem;
        left: 4rem;
        transition:1s ease-in-out;
    }

    .rectangledes3:hover{
        left:8rem;
    }
    .rectangledes4{
        width: 14.25rem;
        height: 2.95rem;
        top:15.3rem;
        left: 2.6rem;
        transition:1s ease-in-out;

    }

    .rectangledes4:hover{
        left: -2rem;
    }

    #hi{
        font-size: 3.2rem;
        top: 11.7rem;
        left:3.40rem;
        width: 16rem;
    }
    h3{
        font-size: 5.80rem;
        top: 16.2rem;
        left:4.53rem;
        width: 3rem;
        transition: 2s ease;
        border:none;
    }
   
    
    #intro{
        font-size: 3rem;
        top:24.50rem;
        left:1.59rem;
        width: 31rem;
        
    }
    .bttns{
        display: flex;
        width: 47rem;
        height: 14rem;
        top:13rem;
        left:0.02rem;
        border:none;
        justify-content: space-between;
       
    }
    
    

    .bttn{
        font-size: 1.45rem;
        width:15rem ;
        height: 3.82rem;
        top:2rem;
        left:0.4rem;

    }
    .bttn:active{
        top: 30.75rem;
        left:1.1rem;
    }
    
    .bttn2, .bttn3, .bttn4{
        font-size: 1.5rem;
        width:4rem ;
        height:3rem;
        top:2rem;
        left:30rem;
        border-radius: 15px;

    }
    .bttn2:active{
        top: 30.75rem;
        left:11.75rem;
    }

    .bttn3{
        font-size: xx-large;
        top:2rem;
        left:36rem;
        
        

    }
    .bttn3:active{
        top: 30.75rem;
        left:11.75rem;
    }
    .bttn4{
       
        top:2rem;
        left:42.50rem;
        

    }
    .bttn4:active{
        top: 30.75rem;
        left:11.75rem;
    }

    .bttns i{
        left:1.1rem;
        top:1rem;

    }
   

    .ty_container{
        top:245rem;
        left:0.74rem;
        width: 22rem;
        height: 50rem;
        border: none;
    }

    .ty_cont{
        top:3rem;
        width: 21rem;
        height: 40rem;
        left:0.5rem;
        border: none;
    }

    #ty{
        font-size: 5rem;
        width: 20px;
        left:6.87rem;
        top:-1rem;

    }
    #ty2{
        font-size: 5rem;
        width: 20px;
        top:6rem;
        left:12rem;

    }

    #bye{
        font-size: 2.2rem;
        top:14rem;
        margin-left:6.1rem;
        width: 30rem;
    }

    #bttns_end{
        top:18rem;
        border: none;
        left:5rem;
    }

    #fb{
        top:9rem;
        left: 1rem;
        width: 25rem;
    }

    #ig{
        top:14rem;
        left:1rem;
    }

    #git{
        top:19rem;
        left:1rem;
    }

   
    
    

}

@media screen and (min-width:1540px) and (max-width:5000px){
    .container{
        width: 40rem;
        height: 45rem;
        top:1rem;
        left:-11rem;
        border: none;
       
    }

    #pic1{
        width: 17.25rem;
        height: 20.75rem;
        top:-1.20rem;
        left:2.25rem;
    }
    .rectangles{
        display: flex;
        width: 24rem;
        height: 20rem;
        top:8rem;
        left:30rem;
        border: none;
       
    }
    .rectangledes{
        width: 14.25rem;
        height: 2.95rem;
        top:3.52rem;
        left: 2rem;
        transition:1s ease-in-out;

    }

    .rectangledes:hover{
        left: -3rem;
    }

    .rectangledes1{
        width: 14.25rem;
        height: 2.95rem;
        top:6.52rem;
        left: 6rem;
        transition:1s ease-in;
    }

    .rectangledes1:hover{
        left:10rem;
    }
    .rectangledes2{
        width: 14.25rem;
        height: 2.95rem;
        top:9.5rem;
        left: 1rem;
        transition:1s ease-in-out;
}
    .rectangledes2:hover{
        left:10rem;
    }
    .rectangledes3{
        width: 14.25rem;
        height: 2.95rem;
        top:12.40rem;
        left: 4rem;
        transition:1s ease-in-out;
    }

    .rectangledes3:hover{
        left:8rem;
    }
    .rectangledes4{
        width: 14.25rem;
        height: 2.95rem;
        top:15.3rem;
        left: 2.6rem;
        transition:1s ease-in-out;

    }

    .rectangledes4:hover{
        left: -2rem;
    }

    #hi{
        font-size: 3.2rem;
        top: 11.7rem;
        left:3.40rem;
        width: 16rem;
    }
    h3{
        font-size: 5.80rem;
        top: 16.2rem;
        left:4.53rem;
        width: 3rem;
        transition: 2s ease;
        border:none;
    }
   
    
    #intro{
        font-size: 3rem;
        top:24.50rem;
        left:1.59rem;
        width: 31rem;
        
    }
    .bttns{
        display: flex;
        width: 47rem;
        height: 14rem;
        top:12rem;
        left:0.02rem;
        border:none;
       justify-content: space-around;
    }
    
    

    .bttn{
        font-size: 1.45rem;
        width:15rem ;
        height: 3.82rem;
        top:2rem;
        left:0.4rem;

    }
    .bttn:active{
        top: 30.75rem;
        left:1.1rem;
    }
    
    .bttn2, .bttn3, .bttn4{
        font-size: 1.5rem;
        width:4rem ;
        height:3rem;
        top:2rem;
        left:30rem;
        border-radius: 15px;

    }
    .bttn2:active{
        top: 30.75rem;
        left:11.75rem;
    }

    .bttn3{
        font-size: xx-large;
        top:2rem;
        left:36rem;
        
        

    }
    .bttn3:active{
        top: 30.75rem;
        left:11.75rem;
    }
    .bttn4{
       
        top:2rem;
        left:42.50rem;
        

    }
    .bttn4:active{
        top: 30.75rem;
        left:11.75rem;
    }

    .bttns i{
        left:1.1rem;
        top:1rem;

    }
   

    .ty_container{
        top:245rem;
        left:0.74rem;
        width: 22rem;
        height: 50rem;
        border: none;
    }

    .ty_cont{
        top:3rem;
        width: 21rem;
        height: 40rem;
        left:0.5rem;
        border: none;
    }

    #ty{
        font-size: 5rem;
        width: 20px;
        left:6.87rem;
        top:-1rem;

    }
    #ty2{
        font-size: 5rem;
        width: 20px;
        top:6rem;
        left:12rem;

    }

    #bye{
        font-size: 2.2rem;
        top:14rem;
        margin-left:6.1rem;
        width: 30rem;
    }

    #bttns_end{
        top:18rem;
        border: none;
        left:5rem;
    }

    #fb{
        top:9rem;
        left: 1rem;
        width: 25rem;
    }

    #ig{
        top:14rem;
        left:1rem;
    }

    #git{
        top:19rem;
        left:1rem;
    }

   
    
    

}