
.container{
    display: flex;
    border: 1px solid black;
    position: absolute;
    top:16px;
    left:16px;
    right: 16px;
    width: 16px;
    justify-content: center;
    align-items: center;
    height: 16px;
    margin: 0 auto;
    padding: 0;

}

.rectangles{
    display:flex;
    position: absolute;
    top:16px;
    left:16px;
    right: 16px;
    width: 16px;
    
    height: 16px;
    margin: 0 auto;

    padding: 0;
    border: 1px solid black;
}

.bttns{
    display:flex;
    position: absolute;
    top:16px;
    left:16px;
    right: 16px;
    width: 16px;
    
    height: 16px;
    margin: 0 auto;

    padding: 0;
    border: 1px solid black;
}







.rectangledes{
    background-color: rgb(148, 195, 225, 1);
    background-image: linear-gradient(to right,blue,rgb(104, 142, 231), rgb(204, 213, 244));
    border-top: 1px solid rgb(110, 153, 244);
    border-left: 1px solid rgb(110, 153, 244) ;
    border-right: 1px solid rgb(110, 153, 244) ;
    display: flex;
    position:absolute;
    width:16px;
    height: 16px;
    box-shadow: 6px 6px 10px rgba(20, 7, 37, 0.4);
}


.rectangledes1{
    background-color: rgba(122, 186, 225, 1);
    background-image: linear-gradient(to right,rgb(202, 226, 238), rgb(66, 130, 221));
    border-left: 1px solid rgb(110, 153, 244) ;
    border-right: 1px solid rgb(110, 153, 244) ;
    display: flex;
    position: absolute;
    width:16px;
    height: 16px;
    box-shadow: 6px 6px 10px rgba(20, 7, 37, 0.4);
}
.rectangledes2{
    background-color: rgb(148, 195, 225, 1);
    background-image: linear-gradient(to right,rgb(139, 196, 226), rgb(66, 130, 221), rgb(123, 123, 209));
    border-left: 1px solid rgb(110, 153, 244) ;
    border-right: 1px solid rgb(110, 153, 244) ;
    display: flex;
    position:absolute;
    width:16px;
    height: 16px;
    box-shadow: 6px 6px 10px rgba(20, 7, 37, 0.4);
}

.rectangledes3{
    background-color: rgb(100, 175, 222);
     background-image: linear-gradient(to right,rgb(207, 221, 228), rgb(66, 130, 221), rgb(173, 173, 213));
     border-left: 1px solid rgb(110, 153, 244) ;
     border-right: 1px solid rgb(110, 153, 244) ;
    display: flex;
    position: absolute;
    width:16px;
    height: 16px;
    box-shadow: 6px 6px 10px rgba(20, 7, 37, 0.4);
}

.rectangledes4{
    background-color: rgba(46, 164, 237, 1);
    background-image: linear-gradient(to right,rgb(26, 16, 107), rgb(67, 83, 205), rgb(173, 173, 213));
    border: 1px solid rgb(81, 121, 214);
    display: flex;
    position: absolute;
    width:16px;
    height: 16px;
    box-shadow: 6px 6px 10px rgba(20, 7, 37, 0.4);
}

#hi{
    position:absolute;
    font-size: 16px;
    color: rgb(90, 90, 174);
    width: 16px;
    top:16px;
    left:16px;
    font-weight: 600;
    font-style: oblique;
    text-shadow: 6px 6px 6px  rgba(141, 105, 42, 0.5);
}

h3{
    position:absolute;
    font-size: 16px;
    color: rgb(7, 22, 89);
    width: 16px;
    top:16px;
    left:16px;
    transition: color 0.3s ;
    text-shadow: 6px 6px 6px  rgba(141, 105, 42, 0.5);
}

h3:hover{
    font-size: 16px;
}

#intro{
    font-size: 16px;
    position: absolute;
    width: 16px;
    color: rgb(55, 48, 48);
    font-weight: bold;
    text-shadow: 6px 6px 6px  rgba(141, 105, 42, 0.5);
    
}

.bttn {
    background-color:rgba(106, 140, 208, 0.5) ;
   
    color: rgb(35, 32, 32);
    font-size: 16px;
   
    padding: 5px 3px;
    border-radius:30%;
    font-weight: bolder;
    box-shadow: 6px 6px 10px rgba(89, 72, 37, 0.4);
    position: absolute;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 16px;
    height: 16px;
    top:16px;
    left:16px;
   
}
.bttn:hover {
    background-color: rgb(20, 91, 89);
    background-image: linear-gradient( rgb(233, 190, 131),rgb(228, 187, 112), rgb(238, 203, 154));

    color: rgb(25, 15, 90);
}


.bttn2 {
    background-color:rgba(106, 140, 208, 0.5) ;
    color: rgb(35, 32, 32);
    font-size: 16px;
    font-weight: bold;
   
    padding: 5px px;
    border-radius: 30%;
    
    box-shadow: 6px 6px 10px rgba(20, 7, 37, 0.4);
    position: absolute;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 16px;
    height: 16px;
    top:16px;
    left:16px;
   
}
.bttn2:hover {
    background-color: rgb(20, 91, 89);
    background-image: linear-gradient( rgb(233, 191, 132), rgb(238, 203, 154));

    color: rgb(25, 15, 90);
}
.bttn3 {
    background-color:rgba(106, 140, 208, 0.5) ;
    color: rgb(35, 32, 32);
    font-size: 16px;
    font-weight: bold;
   
    padding: 5px px;
    border-radius: 30%;
    
    
    box-shadow: 6px 6px 10px rgba(20, 7, 37, 0.4);
    position: absolute;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 16px;
    height: 16px;
    top:16px;
    left:16px;
   
}
.bttn3:hover {
    background-color: rgb(20, 91, 89);
    background-image: linear-gradient( rgb(233, 191, 132), rgb(238, 203, 154));

    color: rgb(25, 15, 90);
}


.bttn4 {
    background-color: rgb(139, 182, 208);
    background-color:rgba(106, 140, 208, 0.5) ;
    color: rgb(35, 32, 32);
    font-size: 16px;
    font-weight: bold;
   
    padding: 5px px;
    border-radius: 30%;
   
    box-shadow: 6px 6px 10px rgba(20, 7, 37, 0.4);
    position: absolute;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 16px;
    height: 16px;
    top:16px;
    left:16px;
   
}
.bttn4:hover {
    background-color: rgb(20, 91, 89);
    background-image: linear-gradient( rgb(233, 191, 132), rgb(238, 203, 154));

    color: rgb(25, 15, 90);
}

.bttn5 {
    background-color:rgba(106, 140, 208, 0.5) ;
    color: rgb(35, 32, 32);
    font-size: 16px;
    font-weight: bold;
   
    padding: 5px px;
    border-radius: 30%;
 
    box-shadow: 6px 6px 10px rgba(20, 7, 37, 0.4);
    position: absolute;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 16px;
    height: 16px;
    top:16px;
    left:16px;
   
}
.bttn5:hover {
    background-color: rgb(20, 91, 89);
    background-image: linear-gradient( rgb(233, 191, 132), rgb(238, 203, 154));

    color: rgb(25, 15, 90);}

#pic1{
    display: flex;
    position: absolute;
    width: 16px;
    height: 16px;
    top:16px;
    left:16px;
   
}








 



@media only screen and (max-width: 600px){
    .container{
        width: 20rem;
        height: 35rem;
        top:6rem;
        left:1rem;
        border: none;
       
    }

    #pic1{
        width: 12.25rem;
        height: 12.75rem;
        top:2.25rem;
        left:2.25rem;
    }
    .rectangles{
        display: flex;
        width: 18rem;
        height: 17rem;
        top:2rem;
        left:1.20rem;
        border: none;
       
    }
    .rectangledes{
        width: 11.25rem;
        height: 2.65rem;
        top:2rem;
        left: 2rem;
        transition:1s ease-in-out;

    }

    .rectangledes:hover{
        left: 1rem;
    }

    .rectangledes1{
        width: 11.25rem;
        height: 2.65rem;
        top:4.63rem;
        left: 6rem;
        transition:1s ease-in;
    }

    .rectangledes1:hover{
        left:10rem
    }
    .rectangledes2{
        width: 12.25rem;
        height: 2.65rem;
        top:7.1rem;
        left: 1rem;
        transition:1s ease-in-out;
}
    .rectangledes2:hover{
        left:-1rem
    }
    .rectangledes3{
        width: 12.25rem;
        height: 2.65rem;
        top:9.73rem;
        left: 4rem;
        transition:1s ease-in-out;
    }

    .rectangledes3:hover{
        left:8rem;
    }
    .rectangledes4{
        width: 12.55rem;
        height: 2.65rem;
        top:12.3rem;
        left: 2.3rem;
        transition:1s ease-in-out;

    }

    .rectangledes4:hover{
        left: -2rem;
    }

    #hi{
        font-size: 1.35rem;
        top: 19.7rem;
        left:2.40rem;
        width: 5rem;
    }
    h3{
        font-size: 2.50rem;
        top: 21.2rem;
        left:5.53rem;
        width: 3rem;
        transition: 2s ease;
    }
   
    
    #intro{
        font-size: 1.35rem;
        top:25.50rem;
        left:4.59rem;
        width: 15rem;
    }
    .bttns{
        display: flex;
        width: 20rem;
        height: 3rem;
        top:29rem;
        left:0.02rem;
       border: none;
    }
   

    .bttn{
        font-size: 0.70rem;
        width:4rem ;
        height: 2.5rem;
        top:0.35rem;
        left:1rem;

    }
    .bttn:active{
        top: 30.75rem;
        left:1.1rem;
    }
    
    .bttn2{
        font-size: 0.90rem;
        width:2.5rem ;
        height: 2rem;
        top:0.35rem;
        left:8.50rem;
        

    }
    .bttn2:active{
        top: 30.75rem;
        left:11.75rem;
    }

    .bttn3{
        font-size: 0.90rem;
        width:2.5rem ;
        height: 2rem;
        top:0.35rem;
        left:11.50rem;
        

    }
    .bttn3:active{
        top: 30.75rem;
        left:11.75rem;
    }
    .bttn4{
        font-size: 0.90rem;
        width:2.5rem ;
        height: 2rem;
        top:0.35rem;
        left:14.50rem;
        

    }
    .bttn4:active{
        top: 30.75rem;
        left:11.75rem;
    }
    .bttn5{
        font-size: 0.90rem;
        width:2.5rem ;
        height: 2rem;
        top:0.35rem;
        left:17.50rem;
        

    }
    .bttn5:active{
        top: 30.75rem;
        left:11.75rem;
    }


   
    
    
    
        
}


@media only screen and (min-width: 600px) and (max-width:900px){
    .container{
        width: 20rem;
        height: 35rem;
        top:6rem;
        left:1rem;
        border: none;
       
    }

    #pic1{
        width: 12.25rem;
        height: 12.75rem;
        top:2.25rem;
        left:2.25rem;
    }
    .rectangles{
        display: flex;
        width: 18rem;
        height: 17rem;
        top:2rem;
        left:1.20rem;
        border: none;
       
    }
    .rectangledes{
        width: 11.25rem;
        height: 2.65rem;
        top:2rem;
        left: 2rem;
        transition:1s ease-in-out;

    }

    .rectangledes:hover{
        left: 1rem;
    }

    .rectangledes1{
        width: 11.25rem;
        height: 2.65rem;
        top:4.63rem;
        left: 6rem;
        transition:1s ease-in;
    }

    .rectangledes1:hover{
        left:10rem
    }
    .rectangledes2{
        width: 12.25rem;
        height: 2.65rem;
        top:7.1rem;
        left: 1rem;
        transition:1s ease-in-out;
}
    .rectangledes2:hover{
        left:-1rem
    }
    .rectangledes3{
        width: 12.25rem;
        height: 2.65rem;
        top:9.73rem;
        left: 4rem;
        transition:1s ease-in-out;
    }

    .rectangledes3:hover{
        left:8rem;
    }
    .rectangledes4{
        width: 12.55rem;
        height: 2.65rem;
        top:12.3rem;
        left: 2.3rem;
        transition:1s ease-in-out;

    }

    .rectangledes4:hover{
        left: -2rem;
    }

    #hi{
        font-size: 1.35rem;
        top: 19.7rem;
        left:2.40rem;
        width: 5rem;
    }
    h3{
        font-size: 2.50rem;
        top: 21.2rem;
        left:5.53rem;
        width: 3rem;
        transition: 2s ease;
    }
   
    
    #intro{
        font-size: 1.35rem;
        top:25.50rem;
        left:4.59rem;
        width: 13rem;
    }
    .bttns{
        display: flex;
        width: 20rem;
        height: 3rem;
        top:29rem;
        left:0.02rem;
       border: none;
    }
   

    .bttn{
        font-size: 0.70rem;
        width:4rem ;
        height: 2.5rem;
        top:0.35rem;
        left:1rem;

    }
    .bttn:active{
        top: 30.75rem;
        left:1.1rem;
    }
    
    .bttn2{
        font-size: 0.90rem;
        width:2.5rem ;
        height: 2rem;
        top:0.35rem;
        left:8.50rem;
        

    }
    .bttn2:active{
        top: 30.75rem;
        left:11.75rem;
    }

    .bttn3{
        font-size: 0.90rem;
        width:2.5rem ;
        height: 2rem;
        top:0.35rem;
        left:11.50rem;
        

    }
    .bttn3:active{
        top: 30.75rem;
        left:11.75rem;
    }
    .bttn4{
        font-size: 0.90rem;
        width:2.5rem ;
        height: 2rem;
        top:0.35rem;
        left:14.50rem;
        

    }
    .bttn4:active{
        top: 30.75rem;
        left:11.75rem;
    }
    .bttn5{
        font-size: 0.90rem;
        width:2.5rem ;
        height: 2rem;
        top:0.35rem;
        left:17.50rem;
        

    }
    .bttn5:active{
        top: 30.75rem;
        left:11.75rem;
    }


   


}

@media only screen and (min-width: 900px) and (max-width:1024px){
   
    .container{
        width: 20rem;
        height: 35rem;
        top:6rem;
        left:1rem;
        border: none;
       
    }

    #pic1{
        width: 12.25rem;
        height: 12.75rem;
        top:2.25rem;
        left:2.25rem;
    }
    .rectangles{
        display: flex;
        width: 18rem;
        height: 17rem;
        top:5rem;
        left:18.20rem;
        border: none;
       
    }
    .rectangledes{
        width: 11.25rem;
        height: 2.65rem;
        top:2rem;
        left: 2rem;
        transition:1s ease-in-out;

    }

    .rectangledes:hover{
        left: 1rem;
    }

    .rectangledes1{
        width: 11.25rem;
        height: 2.65rem;
        top:4.63rem;
        left: 6rem;
        transition:1s ease-in;
    }

    .rectangledes1:hover{
        left:10rem
    }
    .rectangledes2{
        width: 12.25rem;
        height: 2.65rem;
        top:7.1rem;
        left: 1rem;
        transition:1s ease-in-out;
}
    .rectangledes2:hover{
        left:-1rem
    }
    .rectangledes3{
        width: 12.25rem;
        height: 2.65rem;
        top:9.73rem;
        left: 4rem;
        transition:1s ease-in-out;
    }

    .rectangledes3:hover{
        left:8rem;
    }
    .rectangledes4{
        width: 12.55rem;
        height: 2.65rem;
        top:12.3rem;
        left: 2.3rem;
        transition:1s ease-in-out;

    }

    .rectangledes4:hover{
        left: -2rem;
    }

    #hi{
        font-size: 2.50rem;
        top: 6.7rem;
        left:-17.40rem;
        width: 10rem;
    }
    h3{
        font-size: 3.80rem;
        top: 10.2rem;
        left:-12.53rem;
        width: 3rem;
        transition: 2s ease;
    }
   
    
    #intro{
        font-size: 2rem;
        top:15.50rem;
        left:-6.59rem;
        width: 22rem;
    }
    .bttns{
        display: flex;
        width: 35rem;
        height: 5rem;
        top:22rem;
        left:-22.02rem;
       border: none;
    }
   

    .bttn{
        font-size: 1rem;
        width:6rem ;
        height: 3.5rem;
        top:0.35rem;
        left:3rem;
        border-radius:12px ;

    }
    .bttn:active{
        top: 30.75rem;
        left:1.1rem;
    }
    
    .bttn2{
        font-size: 1.50rem;
        width:3.5rem ;
        height: 3rem;
        top:0.35rem;
        left:15.10rem;
        

    }
    .bttn2:active{
        top: 30.75rem;
        left:11.75rem;
    }

    .bttn3{
        font-size: 1.20rem;
        width:3.5rem ;
        height: 3rem;
        top:0.35rem;
        left:19.70rem;
        

    }
    .bttn3:active{
        top: 30.75rem;
        left:11.75rem;
    }
    .bttn4{
        font-size: 1.20rem;
        width:3.5rem ;
        height: 3rem;
        top:0.35rem;
        left:24.20rem;
        

    }
    .bttn4:active{
        top: 30.75rem;
        left:11.75rem;
    }
    .bttn5{
        font-size: 1.20rem;
        width:3.5rem ;
        height: 3rem;
        top:0.35rem;
        left:28.50rem;
        

    }
    .bttn5:active{
        top: 30.75rem;
        left:11.75rem;
    }


}




@media screen and (min-width:1024px) and (max-width:1540px){
    .container{
        width: 20rem;
        height: 35rem;
        top:6rem;
        left:1rem;
        border: none;
       
    }

    #pic1{
        width: 17.25rem;
        height: 20.75rem;
        top:-1.20rem;
        left:2.25rem;
    }
    .rectangles{
        display: flex;
        width: 24rem;
        height: 20rem;
        top:6rem;
        left:18.20rem;
        border: none;
       
    }
    .rectangledes{
        width: 14.25rem;
        height: 2.95rem;
        top:3.52rem;
        left: 2rem;
        transition:1s ease-in-out;

    }

    .rectangledes:hover{
        left: -3rem;
    }

    .rectangledes1{
        width: 14.25rem;
        height: 2.95rem;
        top:6.52rem;
        left: 6rem;
        transition:1s ease-in;
    }

    .rectangledes1:hover{
        left:10rem;
    }
    .rectangledes2{
        width: 14.25rem;
        height: 2.95rem;
        top:9.5rem;
        left: 1rem;
        transition:1s ease-in-out;
}
    .rectangledes2:hover{
        left:10rem;
    }
    .rectangledes3{
        width: 14.25rem;
        height: 2.95rem;
        top:12.40rem;
        left: 4rem;
        transition:1s ease-in-out;
    }

    .rectangledes3:hover{
        left:8rem;
    }
    .rectangledes4{
        width: 14.25rem;
        height: 2.95rem;
        top:15.3rem;
        left: 2.6rem;
        transition:1s ease-in-out;

    }

    .rectangledes4:hover{
        left: -2rem;
    }

    #hi{
        font-size: 2.50rem;
        top: 6.7rem;
        left:-17.40rem;
        width: 10rem;
    }
    h3{
        font-size: 3.80rem;
        top: 10.2rem;
        left:-12.53rem;
        width: 3rem;
        transition: 2s ease;
    }
   
    
    #intro{
        font-size: 2rem;
        top:15.50rem;
        left:-6.59rem;
        width: 22rem;
    }
    .bttns{
        display: flex;
        width: 35rem;
        height: 5rem;
        top:22rem;
        left:-22.02rem;
       border: none;
    }
   

    .bttn{
        font-size: 1rem;
        width:6rem ;
        height: 3.5rem;
        top:0.35rem;
        left:3rem;
        border-radius:12px ;

    }
    .bttn:active{
        top: 30.75rem;
        left:1.1rem;
    }
    
    .bttn2{
        font-size: 1.50rem;
        width:3.5rem ;
        height: 3rem;
        top:0.35rem;
        left:15.10rem;
        

    }
    .bttn2:active{
        top: 30.75rem;
        left:11.75rem;
    }

    .bttn3{
        font-size: 1.20rem;
        width:3.5rem ;
        height: 3rem;
        top:0.35rem;
        left:19.70rem;
        

    }
    .bttn3:active{
        top: 30.75rem;
        left:11.75rem;
    }
    .bttn4{
        font-size: 1.20rem;
        width:3.5rem ;
        height: 3rem;
        top:0.35rem;
        left:24.20rem;
        

    }
    .bttn4:active{
        top: 30.75rem;
        left:11.75rem;
    }
    .bttn5{
        font-size: 1.20rem;
        width:3.5rem ;
        height: 3rem;
        top:0.35rem;
        left:28.50rem;
        

    }
    .bttn5:active{
        top: 30.75rem;
        left:11.75rem;
    }


}

@media screen and (min-width:1540px) and (max-width:5000px){
    .container{
        width: 20rem;
        height: 35rem;
        top:6rem;
        left:1rem;
        border: none;
       
    }

    #pic1{
        width: 12.25rem;
        height: 12.75rem;
        top:2.25rem;
        left:2.25rem;
    }
    .rectangles{
        display: flex;
        width: 18rem;
        height: 17rem;
        top:5rem;
        left:18.20rem;
        border: none;
       
    }
    .rectangledes{
        width: 11.25rem;
        height: 2.65rem;
        top:2rem;
        left: 2rem;
        transition:1s ease-in-out;

    }

    .rectangledes:hover{
        left: 1rem;
    }

    .rectangledes1{
        width: 11.25rem;
        height: 2.65rem;
        top:4.63rem;
        left: 6rem;
        transition:1s ease-in;
    }

    .rectangledes1:hover{
        left:10rem
    }
    .rectangledes2{
        width: 12.25rem;
        height: 2.65rem;
        top:7.1rem;
        left: 1rem;
        transition:1s ease-in-out;
}
    .rectangledes2:hover{
        left:-1rem
    }
    .rectangledes3{
        width: 12.25rem;
        height: 2.65rem;
        top:9.73rem;
        left: 4rem;
        transition:1s ease-in-out;
    }

    .rectangledes3:hover{
        left:8rem;
    }
    .rectangledes4{
        width: 12.55rem;
        height: 2.65rem;
        top:12.3rem;
        left: 2.3rem;
        transition:1s ease-in-out;

    }

    .rectangledes4:hover{
        left: -2rem;
    }

    #hi{
        font-size: 2.50rem;
        top: 6.7rem;
        left:-17.40rem;
        width: 10rem;
    }
    h3{
        font-size: 3.80rem;
        top: 10.2rem;
        left:-12.53rem;
        width: 3rem;
        transition: 2s ease;
    }
   
    
    #intro{
        font-size: 2rem;
        top:15.50rem;
        left:-6.59rem;
        width: 22rem;
    }
    .bttns{
        display: flex;
        width: 35rem;
        height: 5rem;
        top:22rem;
        left:-22.02rem;
       border: none;
    }
   

    .bttn{
        font-size: 1rem;
        width:6rem ;
        height: 3.5rem;
        top:0.35rem;
        left:3rem;
        border-radius:12px ;

    }
    .bttn:active{
        top: 30.75rem;
        left:1.1rem;
    }
    
    .bttn2{
        font-size: 1.50rem;
        width:3.5rem ;
        height: 3rem;
        top:0.35rem;
        left:15.10rem;
        

    }
    .bttn2:active{
        top: 30.75rem;
        left:11.75rem;
    }

    .bttn3{
        font-size: 1.20rem;
        width:3.5rem ;
        height: 3rem;
        top:0.35rem;
        left:19.70rem;
        

    }
    .bttn3:active{
        top: 30.75rem;
        left:11.75rem;
    }
    .bttn4{
        font-size: 1.20rem;
        width:3.5rem ;
        height: 3rem;
        top:0.35rem;
        left:24.20rem;
        

    }
    .bttn4:active{
        top: 30.75rem;
        left:11.75rem;
    }
    .bttn5{
        font-size: 1.20rem;
        width:3.5rem ;
        height: 3rem;
        top:0.35rem;
        left:28.50rem;
        

    }
    .bttn5:active{
        top: 30.75rem;
        left:11.75rem;
    }



}


