
.container{
    display: flex;
    border: 1px solid black;
    position: absolute;
    top:16px;
    left:16px;
    right: 16px;
    width: 16px;
    height: 16px;
    margin: 0;
    padding: 0;

}




.rectangledes{
    background-color: rgb(148, 195, 225, 1);
    background-image: linear-gradient(to right,blue,rgb(104, 142, 231), rgb(204, 213, 244));
    border-top: 1px solid rgb(110, 153, 244);
    border-left: 1px solid rgb(110, 153, 244) ;
    border-right: 1px solid rgb(110, 153, 244) ;
    display: flex;
    position:absolute;
    width:16px;
    height: 16px;
}


.rectangledes1{
    background-color: rgba(122, 186, 225, 1);
    background-image: linear-gradient(to right,rgb(202, 226, 238), rgb(66, 130, 221));
    border-left: 1px solid rgb(110, 153, 244) ;
    border-right: 1px solid rgb(110, 153, 244) ;
    display: flex;
    position: absolute;
    width:16px;
    height: 16px;
}
.rectangledes2{
    background-color: rgb(148, 195, 225, 1);
    background-image: linear-gradient(to right,rgb(139, 196, 226), rgb(66, 130, 221), rgb(123, 123, 209));
    border-left: 1px solid rgb(110, 153, 244) ;
    border-right: 1px solid rgb(110, 153, 244) ;
    display: flex;
    position:absolute;
    width:16px;
    height: 16px;
}

.rectangledes3{
    background-color: rgb(100, 175, 222);
     background-image: linear-gradient(to right,rgb(207, 221, 228), rgb(66, 130, 221), rgb(173, 173, 213));
     border-left: 1px solid rgb(110, 153, 244) ;
     border-right: 1px solid rgb(110, 153, 244) ;
    display: flex;
    position: absolute;
    width:16px;
    height: 16px;
}

.rectangledes4{
    background-color: rgba(46, 164, 237, 1);
    background-image: linear-gradient(to right,rgb(26, 16, 107), rgb(67, 83, 205), rgb(173, 173, 213));
    border: 1px solid rgb(81, 121, 214);
    display: flex;
    position: absolute;
    width:16px;
    height: 16px;
}



 



@media only screen and (max-width: 600px){
    .container{
        width: 20rem;
        height: 20rem;
        top:6rem;
        left:1.50rem;
    }

    .rectangledes{
        width: 10.25rem;
        height: 2.65rem;
        top:2rem;
        left: 4rem;

    }

    .rectangledes1{
        width: 10.25rem;
        height: 2.65rem;
        top:4.63rem;
        left: 6rem;
    }
    .rectangledes2{
        width: 11.25rem;
        height: 2.65rem;
        top:7.1rem;
        left: 2rem;
}
    .rectangledes3{
        width: 11.25rem;
        height: 2.65rem;
        top:9.73rem;
        left: 4rem;
    }
    .rectangledes4{
        width: 11.55rem;
        height: 2.65rem;
        top:12.3rem;
        left: 2.3rem;
}
        
}

