.header {
    background-color:rgba(175, 192, 222, 0.9)  ;
    color:rgba(30, 30, 30, 1) ;
    padding: 10px;
    height: 70px;
    text-align: end;
   right:0;
    top:0;
    width: 100%;
    position: fixed;
    align-items: center;
    display: flex; 
    justify-content: space-between;
    z-index: 1000;
    font-size: 16px;
    
}

.header p {
    color:rgba(30, 30, 30, 1) ;
    padding: 8px ;
    font-size: 25px;
    text-align: start;
    margin-left: 5px;
}
h1{
    font-size: 17px;
    color: rgb(30, 30, 70);
    padding-left: 3px;
    text-align: start;
    font-style: oblique;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



.hamb-menu{
    display: none;
    flex-direction: column;
    cursor: pointer;
    background-color: rgba(196, 200, 233, 0.9);

}
.hamb-menu .line{
    width: 30px;
    height: 3px;
    background-color: rgb(4, 7, 33);
    margin: 3px 0;
}



.menu{
    list-style: none;
    display: flex;
    position: absolute;
    top: 16px;
    background-color: rgba(201, 215, 239, 0.9) ;
    flex-direction: column;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease;
    
    
    
}

.menu a {
    color: rgb(27, 16, 63);
    text-decoration: none;
    padding:10px 20px ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
}

.footer {
    
    background-color:rgba(175, 192, 222, 0.9)  ;
    color:rgba(30, 30, 30, 1) ;
    padding: 10px;
    height: 20px;
    width: 100%;
    text-align: center;
    display: flex;
    bottom: 0;
    position: fixed;
    justify-content: space-evenly;
}



@media only screen and (max-width: 600px){
    .header{
        display: flex;
    } 
     .hamb-menu{
        display:flex;
        text-align: end;
        cursor: pointer;
        padding-bottom:10px;
        text-align: center;
    }

    h1{
        font-size: 1.6rem;
    }

    .hamb-menu p {
        display:block;
        font-size: 20px;
        color:rgba(30, 30, 30, 1) ;
        padding: 8px ;
        
        text-align: center;
        margin-left: 50px;
        
    }
    .menu {
        display: flex;
        position: absolute;
        top: 50px;
        right:0;
        
        
       
    }

    .menu a{
        font-size: 1.10rem;
       
    }

    .menu.show{
        height: auto;

    }

    .menu li {
        text-align: center;
        margin: 10px 0;
        border-bottom: 1px solid rgb(19, 19, 58);
    }
    .footer{
        display: flex;
        height: 30px;
    }


    
}

@media only screen and (min-width: 600px) and (max-width:900px){
    .header{
        display: flex;
    } 
     .hamb-menu{
        display:flex;
        text-align: end;
        cursor: pointer;
        padding-bottom:10px;
        text-align: center;
    }

    h1{
        font-size: 1.6rem;
    }

    .hamb-menu p {
        display:block;
        font-size: 20px;
        color:rgba(30, 30, 30, 1) ;
        padding: 8px ;
        
        text-align: center;
        margin-left: 50px;
        
    }
    .menu {
        display: flex;
        position: absolute;
        top: 50px;
        right:0;
        
        
       
    }

    .menu a{
        font-size: 1.10rem;
       
    }

    .menu.show{
        height: auto;

    }

    .menu li {
        text-align: center;
        margin: 10px 0;
        border-bottom: 1px solid rgb(19, 19, 58);
    }
    .footer{
        display: flex;
        height: 30px;
    }




}


@media only screen and (min-width: 900px) and (max-width:1024px){
    .header{
        display: flex;
    }
    h1{
        font-size: 1.90rem;
    }

    .hamb-menu {
        display:none
        
    }
    .menu {
        display: flex;
        position: absolute;
        flex-direction: row;
        justify-content: space-between;
        margin: 20px;
        background-color:rgb(179, 179, 232,0);
        width: auto;
        height: auto;
        top: 10px;
        right:0;
       margin-top: 10px;
       
    }

    .menu a{
        font-size: 1.75rem;
    }

  
    .footer{
        display: flex;
   
        height: 30px;
    }


   
    
}
@media screen and (min-width:1024px) and (max-width:1540px){
    .header{
        display: flex;
    }
    h1{
        font-size: 1.90rem;
    }

    .hamb-menu {
        display:none
        
    }
    .menu {
        display: flex;
        position: absolute;
        flex-direction: row;
        justify-content: space-between;
        background-color:rgb(179, 179, 232,0);
        margin: 20px;
        gap:50px;
        width: auto;
        height: auto;
        top: 10px;
        right:0;
       margin-top: 10px;
    }

    .menu a{
        font-size: 1.80rem;
    }

   
    .footer{
        display: flex;
        height: 30px;
    }
}
@media screen and (min-width:1540px) and (max-width:5000px){
    .header{
        display: flex;
        max-width: 5000px;
    }
    h1{
        font-size: 1.90rem;
    }

    .hamb-menu {
        display:none
        
    }
    .menu {
        display: flex;
        position: absolute;
        flex-direction: row;
        background-color:rgb(179, 179, 232,0);
        justify-content: space-between;
        margin: 20px;
        gap:50px;
        width: auto;
        height: auto;
        top: 10px;
        right:0;
       margin-top: 10px;
    }

    .menu a{
        font-size: 1.80rem;
    }

   
    .footer{
        display: flex;
        height: 30px;
    }

}
