

.home {
    grid-area: home;
   
    padding: 20px;
    text-align: center;
    border: 1px solid #3824a5;
}

.wavy-box {
    width: 100%;
    height: 10%;
    background: linear-gradient(to bottom, #c59bd8, #c876ee, #7b4a92);
    position: relative;
    top: 1%;
    left: 50%;
    transform: translateX(-50%);
    max-width: 90vw;
    overflow: hidden;

    /* Wavy edges using border-radius */
    border-radius: 150% 140% 100% 40% / 40% 100% 50% 60%;
}
