
.container_proj{
    display: flex;
    border: 1px solid black;
    position: absolute;
    top:16px;
    left:16px;
    right: 16px;
    width: 16px;
    justify-content: center;
    align-items: center;
    height: 16px;
    margin: 0 auto;
    padding: 0;

}





h5{
    position: absolute;
    display: flex;
    font-size: 16px;
    width: 16px;
    height: 16px;
    top:16px;
    left:16px;
    color: rgb(85, 85, 169);
    text-decoration: underline;
}
.proj_reactangles{
    display:flex;
    position: absolute;
    top:16px;
    left:16px;
    right: 16px;
    width: 16px;
    
    height: 16px;
    margin: 0 auto;

    padding: 0;
    border: 1px solid rgb(143, 25, 25);
}

.proj_rectangledes1{
  
    background-color: rgba(26, 60, 81, 0.3);

    border: 1px solid rgb(188, 188, 243, 0.4);
    display: flex;
    position:absolute;
    width:16px;
    height: 16px;
    top:16px;
    left:16px;
    
}

.proj_rectangledes2{

    background-color: rgba(28, 65, 146, 0.3);

    border: 1px solid rgb(212, 212, 253);
    display: flex;
    position:absolute;
    width:16px;
    height: 16px;
    top:16px;
    left:16px;
}

.proj1{
    display: flex;
    position: absolute;
    background-color: rgb(239, 229, 215);
    color: rgb(28, 26, 26);
    top:16px;
    left:16px;
    width: 16px;
    width: 16px;
    border: 2px solid rgb(8, 32, 73);
    border-radius: 10px;
    box-shadow: 10px 10px 10px  rgba(141, 105, 42, 0.5);
}


#dkr, #yt{
    position: absolute;
    font-size: 16px;
    top:16px;
    left:16px;
    width:16px;
    height: 16px;
    font-weight: 600;
    text-decoration: underline;
    color: rgb(11, 42, 68);
}



.media-image, .media-video{
    position: absolute;
    display: flex;
    top:16px;
    left:16px;
    width:16px ;
    height: 16px;
    object-fit: contain;
    transition: opacity 0.3s ease;
    border: 2px solid rgb(36, 35, 35);
    box-shadow: 10px 10px 10px  rgba(141, 105, 42, 0.5);;

}

.media-video{
    opacity: 0;
    pointer-events: none;

}

.proj1:hover .media-image{
    opacity: 0;
}

.proj1:hover .media-video{
    opacity: 1;
    pointer-events: auto;
}

#drk-info, #yt-info{
    display: flex;
    position: absolute;
    top:16px;
    left:16px;
    width: 16px;
    height: 16px;
    font-size: 16px;
    flex-direction: column;
}

#drk-info, #yt-info li{
    font-size: 16px;
    width: 16px;
    height: 16px;
    list-style: square;
    line-height: 25px;
    

}

.dkr_bttn, .yt_bttn{
    position: absolute;
    display: flex;
    width: 16px;
    height: 16px;
    top:16px;
    left:16px;
    background-color:rgba(106, 140, 208, 0.5) ;
    color: rgb(3, 4, 53);
    border-radius: 10px;
    box-shadow: 10px 10px 10px  rgba(141, 105, 42, 0.5);
    font-weight: 700;
    text-align: center;
    justify-content: center;
    padding-top: 10px;
    text-shadow:10px 10px 10px  rgba(103, 110, 160, 0.5); ;
}

.proj2{
    display: flex;
    position: absolute;
    background-color: rgb(239, 229, 215);
    color: rgb(28, 26, 26);
    top:16px;
    left:16px;
    width: 16px;
    width: 16px;
    border: 2px solid rgb(8, 32, 73);
    border-radius: 10px;
    box-shadow: 10px 10px 10px  rgba(141, 105, 42, 0.5);
}









@media only screen and (max-width: 600px){

    .container_proj{
        width: 20rem;
        height: 120rem;
        top:106rem;
        left: 1rem;

    
    }
    h5{
        top:-1rem;
        left:-1rem;
        font-size: 1.55rem;
        
    }

    .proj_reactangles{
        top:1rem;
        left:10rem;
        width: 10rem;
        height: 10rem;
    }

    .proj_rectangledes1{
        top:-0.70rem;
        left:-1rem;
        width: 8rem;
        height: 1.35rem;

    }
    .proj_rectangledes2{
        top:0.19rem;
        left:1rem;
        width: 8rem;
        height: 1.32rem;

    }

    .proj1{
        width:17rem;
        height: rem;
        top:3.50rem;
        left:1rem;
    }

        
    #dkr, #yt{
        font-size: 1.25rem;
        width: 15rem;
        top: 10rem;

    }
    .media-image,.media-video{
        width:15rem;
        height: 8rem;
        top:1.15rem;
        left:0.80rem;
        background-color: black;
    }

    #drk-info, #yt-info{
        top:12rem;
        left:2rem;
        
    }
    #drk-info , #yt-info li{
        font-size: 1.10rem;
        width: 15rem;
        height: 17rem;
        left: 1.75rem;


    }
    #yt-info{
        top:14rem;
        width: 13rem;
    }

    #yt-info li{
        font-size: 1rem;
        width:14rem ;
    }

    .dkr_bttn, .yt_bttn{
        top:23.78rem;
        left:8rem;
        width: 6rem;
        height: 3rem;
    }

    .yt_bttn{
        top:28rem;
    }
    
    .proj2{
        width:17rem;
        height: 32rem;
        top:37.50rem;
        left:1rem;
    }
       
    
}