
.projects{
    display: flex;
    border: 1px solid black;
    position: absolute;
    top:16px;
    left:16px;
    right: 16px;
    width: 16px;
    justify-content: center;
    align-items: center;
    height: 16px;
    margin: 0 auto;
    padding: 0;

}

.java-cont{
    display: flex;
    border: 1px solid black;
    position: absolute;
    top:16px;
    left:16px;
    right: 16px;
    width: 16px;
    justify-content: center;
   align-items: center;
    height: 16px;
    margin: 0 auto;
    padding: 0;

}




#h1-proj{
    position: absolute;
    display: flex;
    font-size: 16px;
    width: 16px;
    height: 16px;
    top:16px;
    left:16px;
    color: rgb(24, 24, 63);
    text-decoration: underline;}
h2{
    display:flex;
    position: absolute;
    top:16px;
    left:16px;
    width: 16px;
    height: 16px;
    font-size: 24px;
    color: rgb(12, 10, 46);
} 

h3{
    display:flex;
    position: absolute;
    top:16px;
    left:16px;
    width: 16px;
    height: 16px;
    font-size: 24px;
    color: rgb(12, 10, 46);
} 


.python1{
    display: flex;
    position: absolute;
    background-color: rgb(239, 229, 215);
    color: rgb(28, 26, 26);
    top:16px;
    left:16px;
    width: 16px;
    width: 16px;
    border: 2px solid rgb(8, 32, 73);
    border-radius: 10px;
    box-shadow: 10px 10px 10px  rgba(141, 105, 42, 0.5);
}


#dkr-py, #yt-py, #calc-py, #rembg-py, #bnkjv{
    position: absolute;
    font-size: 16px;
    top:16px;
    left:16px;
    width:16px;
    height: 16px;
    font-weight: 600;
    text-decoration: underline;
    color: rgb(11, 42, 68);
}



.media-image, .media-video{
    position: absolute;
    display: flex;
    top:16px;
    left:16px;
    width:16px ;
    height: 16px;
    object-fit: contain;
    transition: opacity 0.3s ease;
    border: 2px solid rgb(36, 35, 35);
    box-shadow: 10px 10px 10px  rgba(141, 105, 42, 0.5);;

}

.media-video{
    opacity: 0;
    pointer-events: none;

}

.python1:hover .media-image{
    opacity: 0;
}

.python1:hover .media-video{
    opacity: 1;
    pointer-events: auto;
}

#drk-py-info, #yt-py-info, #calc-py-info, #rembg-py-info, #bnkjv-info{
    display: flex;
    position: absolute;
    top:16px;
    left:16px;
    width: 16px;
    height: 16px;
    font-size: 16px;
    flex-direction: column;
}

#drk-py-info, #yt-py-info , #calc-py-info, #rembg-py-info, #bnkjv-info li{
    font-size: 16px;
    width: 16px;
    height: 16px;
    list-style: square;
    line-height: 25px;
    

}

.dkr-py_bttn, .yt-py_bttn, .calc-py_bttn, .rembg-py_bttn, .bnkjv_bttn{
    position: absolute;
    display: flex;
    width: 16px;
    height: 16px;
    top:16px;
    left:16px;
    background-color:rgba(106, 140, 208, 0.5) ;
    color: rgb(3, 4, 53);
    border-radius: 10px;
    box-shadow: 10px 10px 10px  rgba(141, 105, 42, 0.5);
    font-weight: 700;
    text-align: center;
    justify-content: center;
    padding-top: 10px;
    text-shadow:10px 10px 10px  rgba(103, 110, 160, 0.5); ;
}

.python2{
    display: flex;
    position: absolute;
    background-color: rgb(239, 229, 215);
    color: rgb(28, 26, 26);
    top:16px;
    left:16px;
    width: 16px;
    width: 16px;
    border: 2px solid rgb(8, 32, 73);
    border-radius: 10px;
    box-shadow: 10px 10px 10px  rgba(141, 105, 42, 0.5);
}

.python3{
    display: flex;
    position: absolute;
    background-color: rgb(239, 229, 215);
    color: rgb(28, 26, 26);
    top:16px;
    left:16px;
    width: 16px;
    width: 16px;
    border: 2px solid rgb(8, 32, 73);
    border-radius: 10px;
    box-shadow: 10px 10px 10px  rgba(141, 105, 42, 0.5);
}

.python4{
    display: flex;
    position: absolute;
    background-color: rgb(239, 229, 215);
    color: rgb(28, 26, 26);
    top:16px;
    left:16px;
    width: 16px;
    width: 16px;
    border: 2px solid rgb(8, 32, 73);
    border-radius: 10px;
    box-shadow: 10px 10px 10px  rgba(141, 105, 42, 0.5);
}

.java1{
    display: flex;
    position: absolute;
    background-color: rgb(239, 229, 215);
    color: rgb(28, 26, 26);
    top:16px;
    left:16px;
    width: 16px;
    width: 16px;
    border: 2px solid rgb(8, 32, 73);
    border-radius: 10px;
    box-shadow: 10px 10px 10px  rgba(141, 105, 42, 0.5);
}


@media only screen and (max-width: 600px){

    .projects{
        top:5rem;
        left: 2rem;
        width:20rem ;
        height: 103rem;
        border: 1px solid black;
    }
    #h1-proj{
        top:3rem;
        left:1rem;
        font-size: 1.50rem;
    }
    h2{
        top:8rem;
        left:3rem;
        font-size: 1.24rem;
    }
    
    .python1{
        width:17rem;
        height:28rem;
        top:10.50rem;
        left:1rem;
    }

        
    #dkr-py, #yt-py, #calc-py, #rembg-py, #bnkjv{
        font-size: 1.25rem;
        width: 15rem;
        top: 10rem;

    }
    .media-image,.media-video{
        width:15rem;
        height: 8rem;
        top:1.15rem;
        left:0.80rem;
        background-color: black;
    }

    #drk-py-info, #yt-py-info, #calc-py-info, #rembg-py-info, #bnkjv-info{
        top:12rem;
        left:2rem;
        
    }
    #drk-py-info , #yt-py-info , #calc-py-info , #rembg-py-info, #bnkjv-info li{
        font-size: 1.10rem;
        width: 15rem;
        height: 17rem;
        left: 1.75rem;


    }
    #yt-py-info{
        top:14rem;
        width: 13rem;
    }

    #yt-py-info li{
        font-size: 1rem;
        width:14rem ;
    }

    #calc-py-info{
        top:14rem;
        width: 13rem;
    }

    #calc-py-info li{
        font-size: 1rem;
        width:14rem ;
    }

    #rembg-py-info{
        top:14rem;
        width: 13rem;
    }

    

    .dkr-py_bttn, .yt-py_bttn,.calc-py_bttn, .rembg-py_bttn, .bnkjv_bttn{
        top:23.78rem;
        left:8rem;
        width: 6rem;
        height: 3rem;
    }

    .yt-py_bttn{
        top:28rem;
    }
    .calc-py_bttn{
        top:20rem;
    }
    .rembg-py_bttn{
        top:20rem;
    }
    .python2{
        width:17rem;
        height: 32rem;
        top:41.50rem;
        left:1rem;
    }
    .python3{
        width:17rem;
        height: 25rem;
        top:34.50rem;
        left:0.22rem;
    }
    .python4{
        width:17rem;
        height: 24rem;
        top:76.50rem;
        left:0.90rem;
    }
    .java-cont{
        top:110rem;
        left: 2rem;
        width:20rem ;
        height: 32rem;
        border: 1px solid black;
    }
    h3{
        top:1rem;
        left:3rem;
        font-size: 1.24rem;
    }

    .java1{
        width:17rem;
        height: 24rem;
        top:5.50rem;
        left:0.90rem;
    }
    #bnkjv-info{
        top:14rem;
        width: 13rem;
    }
    .bnkjv_bttn{
        top:18rem;
    }
    
}