.proj {
    grid-area: proj;
    grid-template-rows:auto 50rem;

    grid-template-areas: 
    "proj1"
    "projects"
    ;
   

    text-align: center;
    border: 1px solid #520752;
}



.pink-way {
    grid-area: projects;
    display: grid;
   
    grid-template-columns: 10rem ; 
    grid-template-areas: 
       "carousel";

    background-color: rgba(200, 223, 233, 0.979); 
    height: 50%; 
    border-radius: 140% 0 0 120% / 20% 0 0 30%; 
    border:1px solid #1547a3;
    box-shadow: 0 10px 6px rgba(0, 1, 54, 0.658);
    justify-items: center;
    align-items: center;
    position: relative;
    
}

.car-proj{
    grid-area: carousel;
    border: 4px solid red ;
    height:60% ;
    width: 200%;
    display: flex;
    position: absolute;
    left:30%


}


h5{
    font-family:'Times New Roman', Times, serif;
    font-size: 1.6rem;
    color: #580d58;
    -webkit-text-stroke: 1px rgb(7, 4, 59); 
    text-shadow: 3px 3px 2px rgb(129, 57, 85);
}

cllg, desc2{
    font-size: 1.7rem;

}